# Q2
## Dataset: Iris with 4 coulumns

1. Imports:

In [3]:
import pandas as pd

2. Reading data

In [4]:
# Assuming you have a dataset named 'data.csv'
df = pd.read_csv('iris_dataset.csv')

 a. Only last two values

In [5]:
# a. Only last two values
print(df.tail(2))

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

             target
148  Iris-virginica
149  Iris-virginica

b. Starting from 1st Value to the 5th

In [6]:
# b. Starting from 1st Value to the 5th
print(df.iloc[0:5])

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

        target
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

c. 2nd and 4th Value

In [7]:
# c. 2nd and 4th Value
print(df.iloc[[1, 3]])

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
1                4.9               3.0                1.4               0.2
3                4.6               3.1                1.5               0.2

        target
1  Iris-setosa
3  Iris-setosa

d. Only 20 values in a row and All columns

In [8]:
# d. Only 20 values in a row and All columns
print(df.iloc[0:20])

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4
16                5.4               3.9                1.3               0.4
17                5.1               3.5                1.4               0.3
18                5.7               3.8                1.7               0.3
19                5.1               3.8                1.5               0.3

         target
0   Iris-setosa
1   Iris-setosa
2   Iris-setosa
3   Iris-setosa
4   Iris-setosa
5   Iris-setosa
6   Iris-setosa
7   Iris-setosa
8   Iris-setosa
9   Iris-setosa
10  Iris-setosa
11  Iris-setosa
12  Iris-setosa
13  Iris-setosa
14  Iris-setosa
15  Iris-setosa
16  Iris-setosa
17  Iris-setosa
18  Iris-setosa
19  Iris-setosa

e. head Function

In [9]:
# e. head Function
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

        target
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa